
.mainAbout {
  text-align:center;
}

.aboutHeader {
  text-align: center;
  color: #ddd;
}

.aboutPara {
  text-align: center;
  color: #ddd;
}

.wrapper {
  text-align: center;
  margin-left: 400px;
}

.infoCard {
  align-items: center;
  height: 400px;
  width: 300px;
  display: inline-block;
  text-align: center;
  padding: 20px;
  color: #ddd;
}

.natePic, .carrowPic, .babaPic {
  background-size: 100px 100px;
  height: 100px;
  width: 200px;
}

.aboutLink {
  color: #111;
  font-weight: bold;
}

.aboutLink:hover {
  color: #03c;
}

.aboutLink:active {
  color: #c00;
}

.title {
  text-align: center;
  font-size: 26px;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  font-size: 16px;
}

.natePic {
  background-image: url('../assets/nate_profile.jpg');
}

.carrowPic {
  background-image: url('../assets/carrow_profile.jpg');
}

.babaPic {
  background-image: url('../assets/baba_profile.jpg');
}
